<div class="p-col-8 p-offset-2 background">
    <div class="p-grid">
        <div class="p-col-8">
            <figure>
                    <img class="img-detail" src="{{picture}}" name="picture" ngDefaultControl [(ngModel)]="picture"/>
            </figure>
        </div>
        <div class="p-col-4">
            <p name="title" ngDefaultControl [(ngModel)]="title" class="p-title-detail">{{title}}</p>
            <p *ngIf="decimalsLenght > 1" name="amount" ngDefaultControl [(ngModel)]="amount" class="p-price">$ {{amount | number}}<span name="decimals" ngDefaultControl [(ngModel)]="decimals" class="p-decimals">{{decimals}}</span></p>
            <p *ngIf="decimalsLenght <= 1" name="amount" ngDefaultControl [(ngModel)]="amount" class="p-price">$ {{amount | number}}<span name="decimals" ngDefaultControl [(ngModel)]="decimals" class="p-decimals">0{{decimals}}</span></p>
            <p-button label="Comprar" styleClass="buy-button"></p-button>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-8">
            <p class="p-title-desc">Descripción del producto</p>
            <p name="description" ngDefaultControl [(ngModel)]="description" class="p-description">{{description}}</p>
        </div>
        <div class="p-col-4"></div>
    </div>
</div>