
<p-dataView #dv [value]="product" [paginator]="true" [rows]="2" filterBy="desc">
  <p-header>
    <img src="https://blog.saleslayer.com/hubfs/mercado-libre-logo.jpg" alt="logo-ml" width="40" height="30">
    <input type="search" pInputText placeholder="Search product" (input)="dv.filter($event.target.value)">
    <!--<p-dataViewLayoutOptions></p-dataViewLayoutOptions>-->
    <span class="p-input-icon-left p-mb-2 p-mb-md-4">
      <i class="pi pi-search"></i>
    </span>
  </p-header>
  <ng-template let-pro pTemplate="listItem">
    <div>
      <img width="50" height="50" [src]="pro.pic" />
      ${{pro.price}}
      <br> {{pro.desc}}
    </div>
  </ng-template>
  <ng-template let-pro pTemplate="gridItem">
    <div class="p-col-12 p-md-3">
      <img [src]="pro.pic" />
    </div>
  </ng-template>
  <ng-template pTemplate="paginatorleft" let-state>
    <!--<button type="button" pButton icon="pi-refresh"></button>-->
  </ng-template>
  <ng-template pTemplate="paginatorright">
    <!--<button type="button" pButton icon="pi-cloud-upload"></button>-->
  </ng-template>
  <!--<ng-template let-item pTemplate="paginatordropdownitem">
  </ng-template>-->
</p-dataView>

<router-outlet></router-outlet>
