/* You can add global styles to this file, and also import other style files */
  .yellow-toolbar {
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: yellow;
    color: white;
    font-weight: 600;
    height: 53px;
  }

  .toolbar_img {
    width:auto;
    height:45px;
    object-fit:contain;
    position: relative;
    margin: auto;
  }

  .button_search {
    background-color: rgb(207, 207, 207);
    border: none;
    margin-right: 5px !important;
  }

  .img-list {
    max-width: 130px;
    max-height: 130px;
    margin-right: 5px !important;
  }

  .img-detail {
    width: 100%;
  }

  .background {
    background-color: white;
    margin-top: 8px !important;
  }

  body {
    background-color: rgb(207, 207, 207);
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  .p-price {
    font-size: 1.5em;
  }

  .p-price_detail {
    font-size: 1.5em;
    margin-top: -10px;
  }

  .p-decimals {
    font-size: 0.6em;
    position: absolute;
    margin-top: unset;
  }  

  .p-title {
    font-size: 0.8em;
  }

  .p-title-detail {
    font-size: 1.2em;
    margin-top: -10px;
  }

  .p-description {
    font-size: 0.8em;
    color: grey;
  }

 .p-title-desc {
   font-size: 1.5em;
 }

 .p-state_name {
  font-size: 0.6em;
  color: grey;
  margin-top: 40px;
 }

 .p-cond_sold {
  font-size: 0.8em;
 }

  .buy-button {
    width: 100% !important;
  }

  figure.p-picture {
      text-align: center;
  }

  figure.p-picture img {
    max-width: 200px;
  }