/* You can add global styles to this file, and also import other style files */
  .yellow-toolbar {
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: yellow;
    color: white;
    font-weight: 600;
    height: 53px;
  }

  .toolbar_img {
    width:auto;
    height:45px;
    object-fit:contain;
    position: relative;
    margin: auto;
  }

  .button_search {
    background-color: rgb(207, 207, 207);
  }

  .img-list {
    max-width: 160px;
    max-height: 160px;
  }

  body {
    background-color: rgb(207, 207, 207);
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

  .p-price {
    font-size: 1.5em;
  }

  .p-title {
    font-size: 0.8em;
  }

  figure.p-picture {
      text-align: center;
  }

  figure.p-picture img {
    max-width: 200px;
  }